<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <form>
        <h1> Welcome Back</h1>
        <p> Enter your credentials to continue</p>

        <div class="input-wrapper">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            
            <i class="bx bxs-user-circle"></i>
        </div>
        <div class="input-wrapper">
            <input type="password" class="form-control" name="password" placeholder="Password">
           
            <i class="bx bx-key"></i>
        </div>

        <div>
            <button type="submit">
                Sign In
                <i class="bx bx-righ-arrow-alt"></i>
            </button>

        </div>
    </form>
</body>
</html>